@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Desc"] = "Index Page";

    object GetPeg(Peg p)
    {
        <td style="background-color:@p.ToString()">@p</td>
        return null;
    }
}

<div class="row">
    <div class="col-sm-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Peg 1</th>
                    <th scope="col">Peg 2</th>
                    <th scope="col">Peg 3</th>
                    <th scope="col">Peg 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @GetPeg((Peg)0)
                    @GetPeg((Peg)1)
                    @GetPeg((Peg)2)
                    @GetPeg((Peg)3)
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">

    </div>
</div>
